<div class="container">
	<h1>Welcome to Fall River IDX</h1>
	<h3>Add some things:</h3>
	<%= link_to "Brokers", :controller => 'brokers', :action => 'index' %><br />
	<%= link_to "Agents", :controller => 'agents', :action => 'index' %><br />
	<%= link_to "Listings", :controller => 'listings', :action => 'index' %><br />
</div>